@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Noto', sans-serif;
  
}

.ventas, .inventario, .resumen, .calculadora{
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}