@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Noto', sans-serif;
}

.barraSup {
  background-color:  #e4f1e9; /*o un hexa*/
  height: 20px;
  width: 100vw;
  flex: none;
  /* justify-content: start;
  align-items: center; */

  /*border-width: 1px;
  border-color:rgb(57, 71, 66);
  border-style: solid;
  
  /*border-color: aquamarine;
  border-width: 5px;*/
}

.btn {
  background-color: blue;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 12px;
  padding: 7px 10px 7px 10px;

  transition: color .15s ease;
  /*
  &:focus{
      outline: none;
  }

  &:hover{
      color: lighten(: #43AEE8, $amount: 15) 
  }*/
}

.btn-edit{
  background-color: #43AEE8;
  border-radius: 100%;
  transition: color .15s ease;
  font-size: 50px;
  border: 2px;
  color: white;
  /*
  &:focus{
      outline: none;
  }

  &:hover{
      color: lighten($color: #997314, $amount: 15) 
  }*/
}