@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Noto', sans-serif;
}

.barraSup {
  background-color:  #e4f1e9; /*o un hexa*/
  height: 20px;
  width: 100vw;
  flex: none;
  /* justify-content: start;
  align-items: center; */

  /*border-width: 1px;
  border-color:rgb(57, 71, 66);
  border-style: solid;
  
  /*border-color: aquamarine;
  border-width: 5px;*/
}